<?xml version="1.0"?>

<launch>
    <arg name="record_traj" default="false" />

    <include file="$(find vicon_bridge)/launch/vicon.launch" />
    <include file="$(find joy)/launch/g29.launch">
        <arg name="dev_id" value="0" />
        <arg name="ff_dev_id" value="25"/>
    </include>

    <node pkg="rosbag" type="record" name="rosbag_record_traj"
       args="record -o /home/zixuzhang/Documents/GitRepo/G29_ROS/record/traj 
       /vicon/rc_car_cg/rc_car_cg /rc_control_node/g29_control /zed2/zed_node/pose"
       if="$(arg record_traj)" />
</launch>

